# CineDash — Variáveis de Ambiente
# Obtenha sua chave de API ou Read Access Token em: https://www.themoviedb.org/settings/api

# Token de Acesso da API do TMDB (API Key v3 ou Bearer Token v4)
VITE_TMDB_API_KEY=your_tmdb_api_key_here

# Base URL da API do TMDB
VITE_TMDB_BASE_URL=https://api.themoviedb.org/3

# Base URL para entrega de Posters e Imagens do TMDB
VITE_TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p
